<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css"> -->

    <title>Document</title>
</head>
<body>
    <header>
        <img src="img/logo.webp" class="logo">
        <nav class="navbar">
            <a href="/monitor">Monitor</a>
            <a href="#">cure Instruction</a>
            <a href="/news">News</a>
            <a id="donate">DONATE</a>
        </nav>
        
    </header>
    <input type="checkbox" id="toggle">
    <label for="toggle"  class="openmenu">Menu</label>
    <ul class="menubar">
        <li><a href="/monitor">Monitor</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="/news">News</a></li>
    </ul>

    <section class="commonSections"> 
        <h1>Who we are?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum iusto, iure omnis numquam delectus eveniet culpa accusamus molestias quia sunt. Nisi unde eveniet odit, non nobis, amet suscipit expedita laborum quod et voluptates illo aliquid consequuntur nulla neque consequatur? Commodi, tempore sequi! Cumque eum in amet nam unde molestiae quas?</p>
    </section>
    <section class="commonSections">
        <h1>What we do?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla voluptatum non eligendi nobis eius sunt delectus repudiandae officiis molestiae odit, dicta repellat accusantium nesciunt est accusamus nemo alias, quibusdam aliquid.</p>
    </section>
    <main>

        <section class="model">
            <h1>Check your crop health</h1>
            <form >
                <input type="file" placeholder="upload crop picture">
                <br>
                <input  class="submitButtons" type="submit" value="Detect">
            </form>
        </section>
    </main>
    <footer>
        <h3>contact us</h3>
        <a href="https://www.linkedin.com/in/shiva-chauhan-051275240/"><img src="img/linkedinLogo.png" alt="linkedin"></a>
        <a href="https://twitter.com/Shivachuahan17"><img src="img/twitterLogo.jpeg" alt="twitter"></a>
    </footer>
    <div >
        <a href="/login">Login</a>
        <a href="/signup">signup</a>
        <a href="/logout">logout</a>
    </div>
</body>
</html>