<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/newPage.css">
    <title>Document</title>
</head>
<body id="body">
    <header>
        <a href="/">HOME</a>
    </header>
    <br>
    <h1>Latest daily news...</h1>
    <main>
        <section  class="first-row1">
            <img id="img1" src="#" alt="fetching....">
             <h1 id='sech11'> Isreal and UAE strike historic peace deal</h1>
            <a id="a1">read full</a>
        </section>

        <section class="first-row2">
            <section class="top-row">
                <img id="img2" src="#" alt="">
                <h1 id='sech12'>Isreal and UAE strike historic peace deal</h1>
                <a id="a2">read full</a>
            </section>
            <section class="top-row">
                <img id="img3" src="#" alt="">
                <h1 id='sech13'>Isreal and UAE strike historic peace deal</h1>
                <a id="a3">read full</a>
            </section>
            <section class="bottom-row">
                <img id="img4" src="#" alt="">
                <h1 id='sech14'>Isreal and UAE strike historic peace deal</h1>
                <a id="a4">read full</a>
            </section>
            <section  class="bottom-row">
                <img id="img5" src="#" alt="">
                <h1 id='sech15'>Isreal and UAE strike historic peace deal</h1>
                <a id="a5">read full</a>
            </section>
        </section>
        <br>
        
        <section class="second-row">
            <section >
                <img id="img6" src="#" alt="">                
                <h2 id='sech16'>bidden and harris say trump has left the  US 'in tatters'</h2>
                <a  id="a6">read full</a>
            </section>
            <section >
                <img id="img7" src="#" alt="">                
                <h2 id='sech17'>bidden and harris say trump has left the  US 'in tatters'</h2>
                <a id="a7">read full</a>
            </section>
            <section >
                <img id="img8" src="#" alt="">                
                <h2 id='sech18'>bidden and harris say trump has left the  US 'in tatters'</h2>
                <a id="a8">read full</a>
            </section>
        </section>
    </main>
    <footer id="continues" class="continues">
        loading.....
    </footer>


    <script type="text/javascript" src="js/newsPage.js"></script>
</body>
</html>
