*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

main{
    width:100%;
    height: 500px;
    clear: both;
    background:white;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 2px solid grey ;
    border-top: 2px solid grey ;
    border-radius:.4rem ;
}
.model{
    width: 35%;
    border: 2px solid rgb(32, 95, 32);
    height: 400px;
    margin: auto;
    margin-top: 40px;
    border-radius: 0.4rem;
}
input{
    margin-top: 25px;
    border: 2px solid rgb(32, 95, 32);
    padding: 5px;
    text-align: center;
    color: rgb(32, 95, 32);
    border-radius: 0.4rem;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 50%;
}
form{
    text-align: center;
}

main>section>h1{
    font-size: 4rem;
    color:rgb(32, 95, 32);
    font-weight: bolder;
    margin-top: 5px;
    text-align: center;
}
.submitButtons{
    background: rgb(32, 95, 32);
    color: white;
    width: 17%;
}

.commonSections{
    width: 100%;
    clear: both;
    height: 400px;
    background:white;
    background-size: 100%;  
    font-size: 2rem;
    border-radius: 0.5rem;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
    margin-top: 50px;
    margin-bottom: 100px;
    text-indent: 1.5rem;
}
.commonSections *{
    color: rgb(32, 95, 32);
    padding-left: 1rem;
} 
body{
    background-image: url('../img/bodyBackground.jpg');
    background-size: cover;
    background-repeat:repeat-y ;
    background-attachment: fixed;

}
.commonSections>p{
    font-size: 2.5rem;
    font-weight: lighter;

}

@media  screen and (max-width:700px) {
    main{
        height: 400px;
    }
    .commonSections>h1{
        font-size: 2rem;
    }
    .commonSections>p{
        font-size: 1.5rem;
    }
    main>section>h1{
        font-size: 2rem;
    }
    .model{
        width: 60%;
        height: 230px;
        }
        .submitButtons{
            font-size: 1.2rem;
            width: 26%;
        }
    .commonSections{
        height: 300px;
    }

}