*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    
    width: 100%;
    height: 1450px;
   background-color:rgb(223, 219, 219);
   background:linear-gradient(to left, rgb(215, 215, 126),rgb(148, 220, 148),rgb(127, 127, 202),rgb(248, 213, 150))
   \
    
}


 
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:white;
    background: #7badf8; */
    height: 100px;
    
    /* background: linear-gradient(-0deg, black, transparent) */

    

}
header li{
    display: inline-block;
    padding: 20px;
    

    
    
}
header li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    /* color: white; */
  

}
header li a:hover{
    color:  rgb(0, 255, 0);
    transition: 0.4s;
} 

button{
    
    padding: 5px 5px;
  
   background-color: #81c332;
   color: white;
   margin-right: 90px;
   border-radius: 10px ;
   padding: 10px;
   border: none;
   width: 130px;
   height: 40px;
   cursor: pointer;


}


.who h1{
    font-size: 60px;
    
}
.who h1 span{
    color: green;
}
.who p{
    font-size: 20px;
    margin-top:30px;
}


.who{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: px;

 }
.right img{
    height: 350px;
    width: 400px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: black  5px 5px 10px ;
}

.what{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.what img{
    height: 350px;
    width: 400px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: black  5px 5px 10px ;

}

.what h1{
    font-size: 60px;
    
}
.what h1 span{
    color: green;
}
.what p{
    font-size: 20px;
    margin-top:30px;
}

.form{
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 50px;
}


.checkhelth{
    height: 300px;
    width: 500px;
    background-color:white;
    border-radius: 20px;
    box-shadow: black  5px 5px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient( rgb(147, 147, 208) ,rgb(173, 247, 173),rgb(216, 216, 151));  
   

    
}
.checkhelth h1{
   font-size: 35px;
   /* box-shadow: black  5px 5px 10px ; */
}
.checkhelth h3{
     font-size: 20px;
}
.checkhelth .choose{
    height: 30px;
      /* width: ; */
      
      font-weight: bold;
      cursor: pointer;

}
.checkhelth .submitButton{
      height: 30px;
      width: 100px;
      font-weight: bold;
      cursor: pointer;
      
}


.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  .social-icon img{
    height: 40px;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }

  
  
  
















