*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left ,rgb(242, 178, 178), rgb(172, 234, 172) ,rgb(179, 179, 255));
}

header{
    background:linear-gradient(134deg, black,rgb(207, 242, 207),transparent);
    height: 80px;
    width: 100%;
    color: white;
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
}
header a{
    padding-left: 30px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: bold;
}

body>h1{
margin-top: 30px;
font-size: 3rem;
color: black;
text-decoration: underline;
}

.readfull,main>section>a,section>section>a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding: 0.5rem;
   background-color: rgb(255, 40, 40);
    border-radius: 0.4rem;
    font-size: 1.2rem;
}




main{
    margin-top: 40px;
    width: 100%;
    font-size: 1.2rem;
}
.first-row2,.first-row1{
    width: 50%;
    height: 500px;
    float: left;

}
.first-row1{
    clear: both;
}
.first-row1>img{
    width:100%;
    border-radius: 0.4rem;
    height: auto;
}
.top-row>img,.bottom-row>img{
    width:100%;
    border-radius: 0.4rem;
    height:15rem;
}
.second-row{
    clear: both ;
}
.top-row,.bottom-row{
    width: 50%;
    height: 250px;
    overflow: hidden;
}
section.top-row,section.bottom-row{
    width: 45%;
    margin-left: 2%;
}
.top-row{
    float: left;
}
.bottom-row{
    float: left;
}

@media screen and (max-width:800px){
    .first-row2,.first-row1{
        float: none;
        width: 100%;
    }
    .first-row2{
        height: 2000px;
        margin-bottom: 150px;
    }

    section.top-row,section.bottom-row{
        float: none;
        width:100%;
        height: 500px;
        margin: auto;
        margin-bottom: 50px;
        clear: both;
       } 
    .top-row>img,.bottom-row>img{
            height: auto;
       }       
    }







.second-row{
    width: 100%;
    height: 350px;
}
.second-row>section{
    width: 31%;
    height: 250px;
    margin-top: 150px;
    float: left;
    margin-left: 2%;
    overflow: hidden;
}

.second-row>section>img{
    height: 150px;
    text-align: center;
    border-radius: 0.4rem;
}
img{
    border:2px solid rgb(32, 95, 32);
    border-radius: 0.4rem;
}
h2{
    clear: both;
}

@media screen and (max-width:800px) {
    .second-row{
        height: 1500px;
    }
    .second-row>section{
        width: 100%;
        float:none;
        height: 500px;
        margin:auto;
    }
    .second-row>section>img{
        height: auto;
        width: 100%;
    }
}






#mainsec_continue{
    width:100%;
    height: 200px;
    margin-top: 6rem;
    clear: both;
    font-size: 1.5rem;

}
.continues{
    width: 31%;
    height: 20rem;
}

.sec_continue{
    width:65%;
    margin-left:2.5%;
}
.continues,.sec_continue{
    float: left;
}

@media screen and (max-width:800px) {
    #mainsec_continue{
        height: 600px;
        clear: both;
    }
    .continues,.sec_continue{
        float: none;
        width: 100%;
    }   
    .continues{
        height: auto;
    }
}

@media screen and (max-width:400px){
    .second-row>section{
        
        height: 300px;
    }
    .first-row1{
        height: 300px;
    }
    #mainsec_continue{
        height: 300px;
    }
    .first-row2{
        height: 1200px;
    }
    section.top-row,section.bottom-row{
        
        height: 300px;
        
       } 
}
